# Backup files
*~
*.bak

# OS files
.DS_Store
.directory
.gradle
*.session

# IDE files
.loadpath
.idea
.metadata
*/.settings
*/.classpath
target
.classpath
.project
.settings
/bin

# Build files
*.class
*.out
build
out
*/bin
manifest.mf
*/nbproject/
*/build.xml
**/target
/src/test/resources/fixtures.conf