# Backup files
*~
*.bak

# OS files
.DS_Store
.directory
*.session

# IDE files
.loadpath
.metadata
*/.settings
*/.classpath
target
.classpath
.project
.settings
/bin

# Build files
*.class
*.out
*/bin
manifest.mf
*/nbproject/
*/build.xml
**/target
/src/test/resources/fixtures.conf

# IntelliJ #
*.iml
*.ipr
*.iws
.idea/
out/

# Gradle
.gradle/
build/